.content {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: 10dvh;
    justify-content: space-between;
    align-content: center;
}
.content h {
    font-size: 1em;
}
.content p {
    font-size: 0.4em;
}
#textside {
    width: 80%;
}
#piccies img {
    margin-top: 10dvh;
    width: 100%;
}
#nav2 {
    color: red;
}
