.content {
    margin-top: 10dvh;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
}
.content h {
    font-size: 1em;
}
.content p {
    font-size: 0.4em;
}
#nav3 {
    color: red;
}
