.content {
    margin-top: 20dvh;
    width: 80%;
    padding: 10px;
    flex-direction: column;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #181818;
}
.content h {
    font-size: 1em;
}
.content p {
    font-size: 0.4em;
}
#nav5 {
    color: red;
}
